# версия docker-compose
version: '3.8'

# имя директории для хранения данных
volumes:
  postgres_data:

# имена и описания контейнеров, которые должны быть развёрнуты
services:
  # описание контейнера db
  db:
    # образ, из которого должен быть запущен контейнер
    image: postgres:latest
    # volume и связанная с ним директория в контейнере
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    # адрес файла, где хранятся переменные окружения
    environment:
        - DB_ENGINE=django.db.backends.postgresql # указываем, что работаем с postgresql
        - DB_NAME=postgres # имя базы данных
        - POSTGRES_USER=postgres # логин для подключения к базе данных
        - POSTGRES_PASSWORD=postgres # пароль для подключения к БД (установите свой)
        - DB_HOST=db # название сервиса (контейнера)
        - DB_PORT=5432 # порт для подключения к БД
  web:
    build: .
    restart: always
    command: gunicorn api_yamdb.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    # "зависит от", 
    depends_on:
      - db
    env_file:
      - ./.env